# Dependencies
node_modules
gemfile.lock
src/static/js/vendor

# Build files
build
.grunt
npm-debug.log
*.zip

# Cache
.sass-cache
_css
css
_css
*.css.map

# IDE's
.idea
*.sublime-project
*.sublime-workspace
